---
import { Image } from "@astrojs/image/components";

import GithubSVG from "~/assets/icons/github-icon.astro";
import LinkSVG from "~/assets/icons/external-link-icon.astro";

import { findImage } from "~/utils/images";

interface Props {
  title: string;
  description: string;
  tags: string[];
  image: {
    url: string;
    alt: string;
  };
  links: {
    github: string;
    site: string;
  };
}

const { title, description, tags, image, links } = Astro.props;
const imageSrc = await findImage(image.url);
---

<div class="flex flex-col items-center gap-y-2">
  <div class="flex flex-col">
    <h3 class="font-[Raleway] text-lg text-cyan-300">{title}</h3>
    <p class="mt-1 text-sm">{description}</p>
    <div class="mt-3 flex flex-wrap gap-x-1 gap-y-2">
      {
        tags.map((tag) => (
          <span class="rounded bg-slate-50 p-1 font-[Raleway] text-xs font-bold text-slate-900">
            {tag}
          </span>
        ))
      }
    </div>
    <div class="mt-3 flex justify-end gap-x-2">
      <a class="hover:text-cyan-300" href={links.github} target="_blank">
        <GithubSVG />
      </a>
      <a class="hover:text-cyan-300" href={links.site} target="_blank">
        <LinkSVG />
      </a>
    </div>
  </div>
  <a href={links.site} target="_blank">
    <Image src={imageSrc} alt={image.alt} width={280} height={150} />
  </a>
</div>
